RewriteEngine On
RewriteBase /

RewriteRule ^2014/Jan/01/2014.html$ /2014.html [L,R=301]
RewriteRule ^2014/Feb/10/a-language-by-any-other-name.html$ /a-language-by-any-other-name.html [L,R=301]
RewriteRule ^2009/Jan/08/anagrams-predicate.html$ /anagrams-predicate.html [L,R=301]
RewriteRule ^2008/Sep/08/announcing-modest.html$ /announcing-modest.html [L,R=301]
RewriteRule ^2010/Oct/29/ant-el-a-code-walkthrough.html$ /ant-el-a-code-walkthrough.html [L,R=301]
RewriteRule ^2006/Jul/19/apple-hardware-should-be-called-broken-ware.html$ /apple-hardware-should-be-called-broken-ware.html [L,R=301]
RewriteRule ^2013/Jul/25/applying-the-web-of-trust-model-to-blog-reading.html$ /applying-the-web-of-trust-model-to-blog-reading.html [L,R=301]
RewriteRule ^2012/Dec/18/a-prescription-for-dynamic-image-resizing.html$ /a-prescription-for-dynamic-image-resizing.html [L,R=301]
RewriteRule ^2010/Jun/23/argf.html$ /argf.html [L,R=301]
RewriteRule ^2013/Sep/24/a-spreadsheet-is-not-a-database.html$ /a-spreadsheet-is-not-a-database.html [L,R=301]
RewriteRule ^2008/Sep/18/bayesian-failure.html$ /bayesian-failure.html [L,R=301]
RewriteRule ^2006/Jun/27/best-argument-for-apple-osx.html$ /best-argument-for-apple-osx.html [L,R=301]
RewriteRule ^2006/Jun/29/best-tool-for-the-job.html$ /best-tool-for-the-job.html [L,R=301]
RewriteRule ^2009/Sep/09/bitten-really-hard.html$ /bitten-really-hard.html [L,R=301]
RewriteRule ^2011/Aug/09/call-cc-for-python.html$ /call-cc-for-python.html [L,R=301]
RewriteRule ^2009/Jul/22/case-of-the-unusable-reusable.html$ /case-of-the-unusable-reusable.html [L,R=301]
RewriteRule ^2008/Dec/15/chocolate-cupcakes.html$ /chocolate-cupcakes.html [L,R=301]
RewriteRule ^2006/Jun/28/classifying-web20-as-design-as-well-as-function.html$ /classifying-web20-as-design-as-well-as-function.html [L,R=301]
RewriteRule ^2012/Jan/15/cleaning-out-the-keyboard.html$ /cleaning-out-the-keyboard.html [L,R=301]
RewriteRule ^2010/Oct/24/clojure-conj-reading-list.html$ /clojure-conj-reading-list.html [L,R=301]
RewriteRule ^2006/Apr/04/concept-reality-30days.html$ /concept-reality-30days.html [L,R=301]
RewriteRule ^2009/Mar/04/dispatching-with-with.html$ /dispatching-with-with.html [L,R=301]
RewriteRule ^2012/Oct/11/fabric-not-uniforms.html$ /fabric-not-uniforms.html [L,R=301]
RewriteRule ^2006/Aug/30/gearing-up-to-learn.html$ /gearing-up-to-learn.html [L,R=301]
RewriteRule ^2010/Jun/25/google-spreadsheets-game-of-life.html$ /google-spreadsheets-game-of-life.html [L,R=301]
RewriteRule ^2009/May/07/hacker-utility-belt-ssh.html$ /hacker-utility-belt-ssh.html [L,R=301]
RewriteRule ^2009/Feb/06/higher-order-php.html$ /higher-order-php.html [L,R=301]
RewriteRule ^2012/Nov/05/linkedlist-nyc-solution.html$ /linkedlist-nyc-solution.html [L,R=301]
RewriteRule ^2010/Jun/22/maps-are-broken-for-some-definition-of-broken.html$ /maps-are-broken-for-some-definition-of-broken.html [L,R=301]
RewriteRule ^2014/Aug/16/more-modest.html$ /more-modest.html [L,R=301]
RewriteRule ^2006/Apr/25/osx-and-x11.html$ /osx-and-x11.html [L,R=301]
RewriteRule ^2006/Jul/06/osx-security.html$ /osx-security.html [L,R=301]
RewriteRule ^2011/Apr/18/parser-combinators-made-simple.html$ /parser-combinators-made-simple.html [L,R=301]
RewriteRule ^2010/Apr/28/pattern-matching-with-with.html$ /pattern-matching-with-with.html [L,R=301]
RewriteRule ^2014/Jul/31/plotting-points.html$ /plotting-points.html [L,R=301]
RewriteRule ^2008/Sep/30/python-type-constructors-like-ocaml.html$ /python-type-constructors-like-ocaml.html [L,R=301]
RewriteRule ^2009/Oct/01/python-worlds.html$ /python-worlds.html [L,R=301]
RewriteRule ^2013/Dec/05/realm-of-racket.html$ /realm-of-racket.html [L,R=301]
RewriteRule ^2009/Nov/20/remote-objects.html$ /remote-objects.html [L,R=301]
RewriteRule ^2011/Apr/15/serializing-work-to-be-done.html$ /serializing-work-to-be-done.html [L,R=301]
RewriteRule ^2012/Sep/04/side-projects-and-the-effect-on-your-job.html$ /side-projects-and-the-effect-on-your-job.html [L,R=301]
RewriteRule ^2006/Jun/30/simple-django-view-for-dynamic-text-replacement.html$ /simple-django-view-for-dynamic-text-replacement.html [L,R=301]
RewriteRule ^2012/Mar/23/small-life-problems-just-a-matter-of-programming.html$ /small-life-problems-just-a-matter-of-programming.html [L,R=301]
RewriteRule ^2011/Jan/07/softserve-serves-requests.html$ /softserve-serves-requests.html [L,R=301]
RewriteRule ^2014/Jan/15/static-analysis.html$ /static-analysis.html [L,R=301]
RewriteRule ^2014/Jan/31/stripe-ctf3.html$ /stripe-ctf3.html [L,R=301]
RewriteRule ^2014/Aug/15/stupid-programming-language-arguments.html$ /stupid-programming-language-arguments.html [L,R=301]
RewriteRule ^2013/Sep/17/technical-interviews-make-me-smile.html$ /technical-interviews-make-me-smile.html [L,R=301]
RewriteRule ^2009/Apr/30/the-power-that-is-gnu-emacs.html$ /the-power-that-is-gnu-emacs.html [L,R=301]
RewriteRule ^2010/Jan/28/the-real-disappointment.html$ /the-real-disappointment.html [L,R=301]
RewriteRule ^2010/Oct/12/this-is-not-the-freehackers-union.html$ /this-is-not-the-freehackers-union.html [L,R=301]
RewriteRule ^2012/Oct/22/this-post-is-encrypted-cause-you-wouldnt-read-it-anyway.html$ /this-post-is-encrypted-cause-you-wouldnt-read-it-anyway.html [L,R=301]
RewriteRule ^2006/Mar/31/un-eoe.html$ /un-eoe.html [L,R=301]
RewriteRule ^2010/Nov/04/unipoint-minor-mode-for-mathematical-unicode.html$ /unipoint-minor-mode-for-mathematical-unicode.html [L,R=301]
RewriteRule ^2012/Mar/13/url-shorteners.html$ /url-shorteners.html [L,R=301]
RewriteRule ^2013/Dec/12/when.html$ /when.html [L,R=301]
RewriteRule ^2006/Jun/14/will-spam-win.html$ /will-spam-win.html [L,R=301]
RewriteRule ^2006/May/11/word-attachments.html$ /word-attachments.html [L,R=301]

RewriteCond %{HTTP_HOST} !^sigusr2.net$ [NC]
RewriteRule ^(.*)$ http://sigusr2.net/$1 [L,R=301]

RewriteCond %{HTTP_USER_AGENT} !^(FeedBurner|FeedValidator) [NC]
RewriteRule ^atom.xml$ http://feeds.feedburner.com/SIGUSR2 [R=302,L]
