/*
e6eff9a3
6e80cfa3
5054bda3
35387fa3
*/

body {
 background: #fff;
 font-family: "Georgia", "Times New Roman", times, serif;
 font-size: 62.5%;
 text-align: center;
}

h1, h2 {
 color: #35387f;
 font-family: Helvetica, sans-serif;
}

h1 a, h2 a, h3 a {
 text-decoration: none;
}

a {
 color: #5054bd;
}
a:visited {
 color: #6e80cf;
}

.wrapper {
 width: 650px;
 margin: 0 auto;
 text-align: left;
}

.wrapper header {
 text-align: left;
}

.wrapper header nav {
 text-align: right;
 font-size: 1.4em;
}
.wrapper header nav a {
 text-decoration: none;
}

.wrapper header h1 {
 padding-top: 40px;
 text-indent: -9999em;
}

.wrapper header h1 a {
 display: block;
 width: 102px;
 height: 86px;
 background: url(/static/img/logo.png) no-repeat;
 margin: 0 auto;
}

.wrapper main {
 padding-top: 30px;
 text-align: left;
}

.wrapper main h2 {
 font-size: 3.2em;
}

.wrapper main hr {
 background: #e6eff9;
 height: 1px;
 border: 0;
}

.wrapper main article,
.wrapper main section {
 font-size: 1.6em;
 line-height: 1.6;
}

.wrapper main pre {
 margin: 10px;
}

.wrapper main pre code {
 display: block;
 background-color: #e6eff9;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px; 
 padding: 10px;
}

.wrapper main p.signoff {
 text-align: right;
 font-style: italic;
 color: #888;
}

.wrapper main .footnotes {
 margin-top: 40px;
}

.wrapper main.index h2 {
 font-size: 2.4em;
}

.wrapper main.index h2 em {
 vertical-align: middle;
 font-style: normal;
 color: #999;
 font-size: .5em;
}

.wrapper footer {
 margin-top: 60px;
 padding-top: 32px;
 border-top: 1px solid #e6eff9;
 color: #666;
 font-size: 1.4em;
}

.wrapper footer p.headshot {
 height: 72px;
 background: url(/static/img/headshot.png) no-repeat center top;
}

.wrapper footer p {
 padding-left: 48px;
 padding-right: 48px;
}

.wrapper footer p.copyright {
 padding-top: 30px;
 text-align: center;
}